
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ensure Open Sans is used everywhere */
* {
  font-family: "Open Sans", sans-serif !important;
}

/* Additional global styles */
body {
  margin: 0;
  line-height: normal;
  color: var(--foreground); /* Using the custom variable */
  background: var(--background); /* Using the custom variable */
  font-family: "Open Sans", sans-serif; /* Ensure Open Sans as fallback */
  zoom: 85%;
}

:root {
  --background: #f9f9f9; /* Set background to white */
  --foreground: #171717; /* Set text color to dark */
}

/* Gradient text utility */
.gradient-text {
  background: linear-gradient(
    135deg,
    #6b00b3 0%,
    #d8499c 74.71%,
    #d8499c 143.67%
  );
  -webkit-background-clip: text; /* Clip gradient to text */
  -webkit-text-fill-color: transparent; /* Make text transparent to show gradient */
  background-clip: text;
  text-fill-color: transparent;
}
